<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart Data Form</title>
</head>
<body>
    <h1>Select Station</h1>
    <form id="stationForm" method="post" action="{% url 'my_form_view' %}">
        {% csrf_token %}
        {{ form.station_name }}
        {{ form.value }}
        {{ form.station_name_change }}
        {{ form.year }} 
    </form>

    {% if success %}
        <h2>Form Submitted Successfully!</h2>
        <p>Selected Station: {{ station }}</p>
        <p>Selected Value: {{ value }}</p>
        <p>Did station change? {{ station_name_change }}</p>
        <p>Selected year: {{ year }}</p>
    {% endif %}
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var stationDropdown = document.getElementById("id_station_name");
        var valueDropdown = document.getElementById("id_value");
        var station_change_field = document.getElementById("id_station_name_change");
        var yearDropdown = document.getElementById("id_year");
                // Check if this is the first time the page is loaded
        if (!sessionStorage.getItem('formSubmitted')) {
            sessionStorage.setItem('formSubmitted', 'true');
            station_change_field.value = true;  // Set this to your desired value
            document.getElementById("stationForm").submit();
        }
        if (stationDropdown) {
            stationDropdown.addEventListener("change", function() {
                station_change_field.value = true;
                document.getElementById("stationForm").submit();
            });
        }
        if (valueDropdown) {
            valueDropdown.addEventListener("change", function() {
                station_change_field.value = false;
                document.getElementById("stationForm").submit();
            });
        }
        if (yearDropdown) {
            yearDropdown.addEventListener("change", function() {
                station_change_field.value = false;
                document.getElementById("stationForm").submit();
            });
        }
    });
</script>
</html>
