<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Station Map and Chart</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        #map {
            height: 400px;
            width: 22%;
            float: left;
            border: 2px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        #chartDiv {
            height: 600px;
            width: 75%;
            float: left;
        }
        body, html {
            height: 100%;
            margin: 0;
        }
        .container {
            height: 100%;
        }
        .map-container {
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <div>
        <h1>Select Station</h1>
        <form id="stationForm">
            <select id="stationDropdown"></select>
            <select id="valueDropdown"></select>
            <select id="yearDropdown"></select>
        </form>
        <div>
            <button id="lineButton">Line Graph</button>
            <button id="histogramButton">Histogram</button>
            <button id="boxPlotButton">Box Plot</button>
        </div>
    </div>
    <div id="chartDiv"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const stationDropdown = document.getElementById("stationDropdown");
            const valueDropdown = document.getElementById("valueDropdown");
            const yearDropdown = document.getElementById("yearDropdown");
            const form = document.getElementById("stationForm");
            const chartDiv = document.getElementById("chartDiv");
            const lineButton = document.getElementById("lineButton");
            const histogramButton = document.getElementById("histogramButton");
            const boxPlotButton = document.getElementById("boxPlotButton");

            let currentChartType = 'line';
            let stationsData = {};

            var map = L.map('map').setView([49.8175, 15.4730], 7); // centered on the Czech Republic

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
            }).addTo(map);

            fetch('/api/stations/geo/')
                .then(response => response.json())
                .then(data => {
                    L.geoJSON(data, {
                        onEachFeature: function (feature, layer) {
                            if (feature.properties) {
                                layer.bindPopup(`<b>${feature.properties.st_label}</b>`);
                            }
                            layer.on('click', function () {
                                stationDropdown.value = feature.id;
                                fetchValues();
                                zoomToStation(feature.id);
                            });
                        }
                    }).addTo(map);

                    // store station data for later use
                    data.features.forEach(feature => {
                        stationsData[feature.id] = feature.geometry.coordinates;
                    });
                })
                .catch(error => console.error('Error fetching GeoJSON data:', error));

            function zoomToStation(stationId) {
                const coordinates = stationsData[stationId];
                if (coordinates) {
                    map.setView([coordinates[1], coordinates[0]], 13); // leaflet uses [lat, lng]
                }
            }

            function fetchStations() {
                fetch('/api/stations/')
                    .then(response => response.json())
                    .then(data => {
                        stationDropdown.innerHTML = "";  // clear previous options
                        data.forEach(station => {
                            const option = document.createElement("option");
                            option.value = station.st_name;
                            option.textContent = station.st_label;
                            stationDropdown.appendChild(option);
                        });
                        fetchValues();
                    })
                    .catch(error => console.error('Error fetching stations:', error));
            }

            function fetchValues() {
                const stationId = stationDropdown.value;
                fetch(`/api/stations/${stationId}/values/`)
                    .then(response => response.json())
                    .then(data => {
                        valueDropdown.innerHTML = "";  // clear previous options
                        data.forEach(value => {
                            const option = document.createElement("option");
                            option.value = value.django_field_name;
                            option.textContent = value.parameter;
                            valueDropdown.appendChild(option);
                        });
                        if (valueDropdown.options.length > 0) valueDropdown.selectedIndex = 0;
                        fetchYears();
                    })
                    .catch(error => console.error('Error fetching values:', error));
            }

            function fetchYears() {
                const stationId = stationDropdown.value;
                fetch(`/api/stations/${stationId}/years/`)
                    .then(response => response.json())
                    .then(data => {
                        yearDropdown.innerHTML = "";  // clear previous options
                        data.forEach(year => {
                            const option = document.createElement("option");
                            option.value = year;
                            option.textContent = year;
                            yearDropdown.appendChild(option);
                        });
                        if (yearDropdown.options.length > 0) yearDropdown.selectedIndex = 0;
                        fetchDataAndRenderChart();  // update the chart after updating the dropdown
                    })
                    .catch(error => console.error('Error fetching years:', error));
            }

            function fetchDataAndRenderChart() {
                const stationId = stationDropdown.value;
                const valueField = valueDropdown.value;
                const year = yearDropdown.value;

                // check if dropdowns have valid selections
                if (!stationId || !valueField || !year) return;

                fetch(`/api/${stationId}/${valueField}/${year}/data`)
                    .then(response => response.json())
                    .then(data => {
                        const hourlyDates = data.map(item => item.date);
                        const hourlyValues = data.map(item => item.value);

                        const currentChartType = 'line';
                        if (currentChartType === 'line') {
                            fetch(`/api/${stationId}/${valueField}/percentiles`)
                                .then(response => response.json())
                                .then(percentiles => {
                                    var currentYear = new Date(hourlyDates[0]).getFullYear();
                                    const months = percentiles.map(item => item.month);
                                    var firstDayOfMonths = percentiles.map(d => `${currentYear}-${d.month}-01T00:00:00`);
                                    var q10 = percentiles.map(d => d.q10);
                                    var q20 = percentiles.map(d => d.q20);
                                    var q30 = percentiles.map(d => d.q30);
                                    var q40 = percentiles.map(d => d.q40);
                                    var q50 = percentiles.map(d => d.q50);
                                    var q60 = percentiles.map(d => d.q60);
                                    var q70 = percentiles.map(d => d.q70);
                                    var q80 = percentiles.map(d => d.q80);
                                    var q90 = percentiles.map(d => d.q90);

                                    // Update the trace for the line chart
                                    var hourlyTrace = {
                                        x: hourlyDates,
                                        y: hourlyValues,
                                        mode: 'lines',
                                        name: 'Hourly Values'
                                    };

                                    var percentileTraces = [
                                        { x: firstDayOfMonths, y: q10, mode: 'lines+markers', name: '10th Percentile' },
                                        { x: firstDayOfMonths, y: q20, mode: 'lines+markers', name: '20th Percentile' },
                                        { x: firstDayOfMonths, y: q30, mode: 'lines+markers', name: '30th Percentile' },
                                        { x: firstDayOfMonths, y: q40, mode: 'lines+markers', name: '40th Percentile' },
                                        { x: firstDayOfMonths, y: q50, mode: 'lines+markers', name: '50th Percentile' },
                                        { x: firstDayOfMonths, y: q60, mode: 'lines+markers', name: '60th Percentile' },
                                        { x: firstDayOfMonths, y: q70, mode: 'lines+markers', name: '70th Percentile' },
                                        { x: firstDayOfMonths, y: q80, mode: 'lines+markers', name: '80th Percentile' },
                                        { x: firstDayOfMonths, y: q90, mode: 'lines+markers', name: '90th Percentile' }
                                    ];

                                    var allTraces = [hourlyTrace].concat(percentileTraces);

                                    var layout = {
                                        title: 'Hourly Data and Monthly Percentiles',
                                        xaxis: {
                                            title: 'Date',
                                            type: 'date',
                                            range: [`${currentYear}-01-01`, `${currentYear}-12-31`],
                                            tickformat: '%Y-%m-%d'
                                        },
                                        yaxis: {
                                            title: 'Value'
                                        }
                                    };

                                    // Plot the chart
                                    Plotly.newPlot(chartDiv, allTraces, layout);
                                })
                        }
                    })
                    .catch(error => console.error('Error fetching chart data:', error));
            }

            stationDropdown.addEventListener("change", function() {
                fetchValues();
                zoomToStation(stationDropdown.value);
            });
            valueDropdown.addEventListener("change", fetchDataAndRenderChart);
            yearDropdown.addEventListener("change", fetchDataAndRenderChart);

            lineButton.addEventListener("click", function() {
                currentChartType = 'line';
                fetchDataAndRenderChart();
            });

            histogramButton.addEventListener("click", function() {
                currentChartType = 'histogram';
                fetchDataAndRenderChart();
            });

            boxPlotButton.addEventListener("click", function() {
                currentChartType = 'box';
                fetchDataAndRenderChart();
            });

            fetchStations();
        });
    </script>
</body>
</html>
