<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart Data Form</title>
</head>
<body>
    <h1>Select Station</h1>
    <form id="stationForm" method="post" action="{% url 'my_form_view' %}">
        {% csrf_token %}
        {{ form.station_name }}
        {{ form.value }}
        {{ form.station_name_change }} 
    </form>

    {% if success %}
        <h2>Form Submitted Successfully!</h2>
        <p>Selected Station: {{ station }}</p>
        <p>Selected Value: {{ value }}</p>
        <p>Did station change? {{ station_name_change }}</p>
    {% endif %}
</body>
<script>
    // Script for station_name dropdown
    document.addEventListener("DOMContentLoaded", function() { ///muzu mit jen jeden
        var stationDropdown = document.getElementById("id_station_name");
        var station_change_field = document.getElementById("id_station_name_change");
        if (stationDropdown) {
            stationDropdown.addEventListener("change", function() {
                station_change_field.value = true;
                document.getElementById("stationForm").submit();
            });
        }
    });
    // Script for value dropdown
    document.addEventListener("DOMContentLoaded", function() { 
        var valueDropdown = document.getElementById("id_value");
        var station_change_field = document.getElementById("id_station_name_change");
        if (valueDropdown) {
            valueDropdown.addEventListener("change", function() {
                station_change_field.value = false;
                document.getElementById("stationForm").submit();
            });
        }
    });
</script>
</html>
